<header id="main-header" class="main-header">
  <content id="main-content" class="main-content">
    <nav class="main-menu">
      <div class="ico-menu">
        <div class="circle">
          <div class="lines">
            <div class="ico-list"></div>
          </div>
        </div>
      </div>
    </nav>
    <div class="main-logo">
      <div class="logo-circle"></div>
      <div class="logo-title">crios</div>
      <div class="logo-subtitle">free psd template</div>
    </div>
    <div class="main-search">
      <div class="circle">
        <div class="ico-search"></div>
      </div>
    </div>
    <h1>Simple PSD template with cool stuff</h1>
  </content>
</header>
