<div class="john">
  <div class="john-row">
    <content id="main-content" class="main-content">
      <div class="john-col-1">
        <img src="../../../assets/snow-q.png" alt="" class="snow-man" />
        <img src="../../../assets/snow-w.png" alt="" class="snow-man2" />
        <img src="../../../assets/jonny.png" alt="" class="john-photo" />
      </div>
      <div class="john-col-2">
        <h1>Template is awesome</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
          Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.<br />
          Suspendisse lobortis lectus vel imperdiet ullamcorper.
        </p>
        <div class="about-john">
          <div class="title">John Doe</div>
          <p>CEO at Crios.com</p>
        </div>
      </div>
    </content>
  </div>
</div>
