<div class="offer">
    <content id="main-content" class="main-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <h1>Lorem ipsum dolor sit amet.</h1>
        <div class="offer-row">
            <div class="col">
                <div class="ico-col1"></div>
                <div class="title-col">Lorem ipsum dolor sit amet.</div>
                <p>Suspendisse vel leo efficitur,<br>venenatis est ut tincidunt
                nibh.</p>
            </div>
            <div class="col">
                <div class="ico-col2"></div>
                <div class="title-col">Lorem ipsum dolor sit amet.</div>
                <p>Suspendisse vel leo efficitur,<br>venenatis est ut tincidunt
                nibh.</p>
            </div>
            <div class="col">
                <div class="ico-col3"></div>
                <div class="title-col">Lorem ipsum dolor sit amet.</div>
                <p>Suspendisse vel leo efficitur,<br>venenatis est ut tincidunt
                nibh.</p>
            </div>
            <div class="col">
                <div class="ico-col4"></div>
                <div class="title-col">Lorem ipsum dolor sit amet.</div>
                <p>Suspendisse vel leo efficitur,<br>venenatis est ut tincidunt
                nibh.</p>
            </div>
        </div>
        <input class="main-button" type="button" value="check our offer"/>
    </content>
</div>
