<div class="box-row">
  <img class="box-image" src="../../../assets/box-image.png" alt="" />
  <div class="box-text">
    <h1>Lorem ipsum dolor.</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
      Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.<br />
      Suspendisse lobortis lectus vel imperdiet ullamcorper.
    </p>
  </div>
</div>
<div class="box-row">
  <div class="box-text">
    <h1>Lorem ipsum dolor.</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
      Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.<br />
      Suspendisse lobortis lectus vel imperdiet ullamcorper.
    </p>
  </div>
  <img class="box-image2" src="../../../assets/box-image2.png" alt="" />
</div>
