.simple-psd-template {
	background-image: url(../../../assets/bg-horse.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 1333px;
	width: 100%;
}
.simple-psd-template p {
	font-size: 18px;
	line-height: 18px;
}
.simple-psd-template .main-button {
	margin: 80px 0 900px 0;
}

#main-content {
	display: block;
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 15px;
}