
.main-footer {
	background-image: url(../../../assets/bg-footer.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 1400px;
	width: 100%;
}
.main-footer p {
	margin: 130px 0 10px 0;
}
.main-footer .main-button {
	margin-top: 90px;
}
