@use '../../../styles.scss' as m;

.apps-block {
	overflow: hidden;
	position: relative;
}
.snow-q {
	left: 20px;
	top: -100px;
}
.snow-w {
	bottom: -190px;
	right: -120px;
}
.snow-q,
.snow-w {
	position: absolute;
	z-index: -1;
}
.stack-one,
.stack-two {
	clear: both;
	z-index: 2;
}
.palyer-app {
	padding: 160px 6% 180px 23%;
}
.player-app-img,
.chat-app-img {
	width: 100%;
}
.chat-app {
	padding: 0 23% 180px 6%;
}
.chat-app-img {
	margin-top: -40px;
}
.palyer-app-about h1,
.chat-app-about h1 {
	color: m.$light-blue;
}
.palyer-app-about h1,
.palyer-app-about p,
.chat-app-about h1,
.chat-app-about p {
	text-align: left;
	width: 60%;
}
.chat-app-about h1,
.chat-app-about p {
	float: right;
}
.palyer-app-about {
	margin-top: -50px;
}
.chat-app-about {
	margin-top: -240px;
}
.palyer-app,
.palyer-app-about,
.chat-app,
.chat-app-about {
	display: inline-block;
	vertical-align: middle;
	width: 49.85%;
}

.snow-man,
.snow-man2 {
	left: 257px;
	position: absolute;
	top: 60px;
}
.snow-man {
	z-index: -1;
}
.snow-man2 {
	opacity: .15;
}