<div class="apps-block">
  <img src="../../../assets/snow-man.png" alt="" class="snow-q" />
  <div class="stack-one">
    <div class="palyer-app">
      <img src="../../../assets/chat-app.png" alt="" class="player-app-img" />
    </div>
    <div class="palyer-app-about">
      <h1>Lorem ipsum dolor</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
        leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis
        lectus vel imperdiet ullamcorper.
      </p>
    </div>
  </div>
  <div class="stack-two">
    <div class="chat-app-about">
      <h1>Lorem ipsum dolor</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
        leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis
        lectus vel imperdiet ullamcorper.
      </p>
    </div>
    <div class="chat-app">
      <img src="../../../assets/player-app.png" alt="" class="chat-app-img" />
    </div>
  </div>
  <img src="../../../assets/snow-q.png" alt="" class="snow-w" />
</div>
